<section>
  <div class="page-header">
    <h1>Travel documents</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="travel-document in vm.travelDocuments"
       ui-sref="travelDocuments.view({ travel-documentId: travel-document._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="travelDocument.created | date:'mediumDate'"></span>
        by
        <span ng-if="travelDocument.user" ng-bind="travelDocument.user.displayName"></span>
        <span ng-if="!travelDocument.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="travel-document.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.travelDocuments.$resolved && !vm.travelDocuments.length">
    No Travel documents yet, why don't you <a ui-sref="travelDocuments.create">create one</a>?
  </div>
</section>
