<section>
  <div class="page-header">
    <h1>Bills</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="bill in vm.bills"
       ui-sref="bills.view({ billId: bill._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="bill.created | date:'mediumDate'"></span>
        by
        <span ng-if="bill.user" ng-bind="bill.user.displayName"></span>
        <span ng-if="!bill.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="bill.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.bills.$resolved && !vm.bills.length">
    No Bills yet!
  </div>
</section>
