<section ng-controller="HomeController">
  <div class="jumbotron text-center" id="main-splash">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
          <img alt="QTG, INC" class="img-responsive text-center" src="http://static1.squarespace.com/static/569d5bd805f8e2b24dadd20a/t/574de65101dbaeca98405882/1471967130788/?format=1500w" />
          <p class="lead">
            Welcome to the portal.
          </p>
          <p>Please <a href="/authentication/signin">sign in</a> or <a href="/authentication/signup">sign up</a> to access your trip information.</p>
        </div>
      </div>
      <br>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <h2><strong>A</strong>bout Us</h2>
      <p><a target="_blank" href="http://questtravelgroup.org/">Quest Travel Group</a> is a Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id itaque molestias soluta vero voluptatibus. Cumque dolores molestiae nostrum nulla odit recusandae reiciendis! Dicta explicabo illum nihil nulla numquam quas tempore?</p>
    </div>
    <div class="col-md-6 text-center">
      <h2><strong>O</strong>ur Sites</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores at debitis, delectus deserunt dolores dolorum eveniet fuga impedit, ipsum iste magnam molestiae quibusdam quis ratione sed sequi temporibus, ullam?</p>
    </div>
  </div>
  <div class="well">
    <h2>THE BEST TRAVEL GROUP, INC</h2>
    <p>
      1234 Fake Road, Suite 234, Atlanta, GA, 123456
      <ul>
        <li><a target="_blank" href="http://questtravelgroup.com/contactus"> Contact Us</a>
        </li>
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <!--<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>-->
        <!--</li>-->
        <!--<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>-->
        <!--</li>-->
        <!--<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>-->
        <!--</li>-->
        <!--<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>-->
        <!--</li>-->
      </ul>
    </p>
  </div>
</section>
