<section>
  <div class="page-header">
    <h1>{{vm.trip._id ? 'Edit Trip' : 'New Trip'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.tripForm" class="form-horizontal" ng-submit="vm.save(vm.form.tripForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.trip.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.tripForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Trip name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <input name="name" type="text" ng-model="vm.trip.description" id="description" class="form-control" placeholder="Description" required>
          <div ng-messages="vm.form.tripForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Trip description is required.</p>
          </div>
        </div>
        <!--TODO:ADD DESTINATION TO TRIP-->
        <!--Preferred implementation here will use maps API to allow admin to select location and then pull name and coordinates from selection-->
        <!--Temporary implementation involves creating destination manually-->
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="destination" type="text" ng-model="vm.trip.destination" id="destination" class="form-control" placeholder="Destination" required>
          <div ng-messages="vm.form.tripForm.destination.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Destination name is required. This app is backed by Google Maps, so enter a query like you would in Google Maps.</p>
          </div>
        </div>
        <!--TODO:ADD PASSENGERS TO TRIP-->
        <div class="form-group">
          <label class="control-label" for="passengers">Passengers</label>
          <tags-input ng-model="vm.trip.passengers" placeholder="Add passengers" display-property="displayName">
            <auto-complete source="vm.loadUsers($query)"></auto-complete>
          </tags-input>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.trip._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
