<section>
  <div class="page-header">
    <h1>Trips</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="trip in vm.trips |  filter:{ passengers : { _id : vm.userId } }"
       ui-sref="trips.view({ tripId: trip._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        <span ng-bind="trip.departureDate | date:'mediumDate'"></span> to <span ng-bind="trip.returnDate | date:'mediumDate'"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="trip.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.trips.$resolved && !vm.trips.length">
    No Trips yet, why don't you <a ui-sref="trips.create">create one</a>?
  </div>
</section>
