<section>
  <div class="page-header">
    <h1 ng-bind="vm.trip.name"></h1>
  </div>
  <div>
    <h2 ng-bind="vm.trip.description"></h2>
  </div>
  <div class="list-group">
    <h3>Passengers</h3>
    <a ng-repeat="passenger in vm.trip.passengers"
       class="list-group-item">
      <img class="header-profile-image" ng-src="{{passenger.profileImageURL}}" alt="">
      <h4 class="list-group-item-heading" ng-bind="passenger.displayName"></h4>
    </a>
  </div>
 <div class="pull-right"> <!--ng-show="vm.trip.isCurrentUserAdmin"-->
    <a class="btn btn-primary"
       ui-sref="trips.edit({ tripId: vm.trip._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.trip.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.trip.user"
            ng-bind="vm.trip.user.displayName"></span>
      <span ng-if="!vm.trip.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.trip.content"></p>
</section>
