.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

#main-splash::before {
    content:"";
    top:0;
    overflow:;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    z-index:;
    position:absolute;
    background: url("http://az616578.vo.msecnd.net/files/2016/04/03/6359524176194484221446729975_travel-01.jpg") no-repeat center center fixed;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

#main-splash {
    position:relative;
}

.pio-block {
    background-color: #d1d1d1; color:#fff;
}


